div {
    height: 200px;
    width: 200px;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#red1 {
    background-color: red;
    position: relative;
    top: 30px;
    left: 30px;
}

#yellow1 {
    background-color: yellow;
    position: relative;
    top: -140px;
    left: 60px;
}

#blue1 {
    background-color: blue;
    position: relative;
    top: -310px;
    left: 90px
}

#red2 {
    position: absolute;
    background-color: red;
    top: 1300px;
    right: 70px;
}

#yellow2 {
    position: absolute;
    background-color: yellow;
    top: 1370px;
    right: 140px;
}

#blue2 {
    position: absolute;
    background-color: blue;
    top: 1440px;
    right: 210px;
}
